html,body{
    background: url(../images/2.jpg);
}
.head{

    height: 100px;
    width: 100%;
}
#view{
    width: 100%;
    height: 700px;

}
#view-div{
    width: 100%;
    height: 700px;
    padding: 0 100px;

}
#view-div h3{
    font-size: 30px;
    color: #CCCCCC;
}
#view-div p{
    font-size: 20px;
    color: #CCCCCC;
}
#view-div span{
    font-size: 15px;
    color: #6f8686;
}
#view-imgs{
    width: 100%;
    height: 500px;

}
#view-imgs img{
    width: 100%;
    height: 500px;
}
body,html{
    width: 100%;
    height: 100%;
}
#comment{
    width: 100%;
    height: 100%;

    padding: 0 100px;
}
.comment-li{
    list-style: none;
    margin: 20px 0;
    background-color: #D0D0D0;
    filter:alpha(opacity=10);
    opacity:0.6;
}
.list{
    width:100%;

    margin: 20px 0;
}
.comment-info{
    height: 50px;
    width: 100%;
    margin: 0 40px;
    line-height: 50px ;
}
.comment-info span{
    color: black;

}
.content{
    word-break: break-all;
    margin: 0 40px;
}
#comment-form p{
    width: 200px;
    height: 50px;
    background: #ccc;
    margin-top: 35px;
    padding: 10px 10px;
    opacity:0.7;
}
#comment-form h3{
    margin-top: 35px;
    color: #f5f5f5;
}
#comment-view h3{

    color: #f5f5f5;
}
#comment-form textarea{
    margin-top: 35px;
    background: #fff;
    opacity:0.9;
    margin-right: 100px;
}
#sub{
    width: 100px;
    height: 30px;
    background: #ccc;
    opacity:0.7;
}
#view-h3 p{
    width: 100%;
    height: 50px;
    background: #ccc;
    opacity:0.7;
    color: #FFFFff;

}